@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 600;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    color: #0d2b17;
}

#logo {
    float: left;
    font-size: 200%;
}


/* navigation links */

nav {
    float: right;
}

#menu {
    font-size: 1.5em;
}

#menu, #logo {
    line-height: 75px;
}  

#menu li {
    float: left;  
    list-style-type: none; 
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover text */

#hero-image {
    padding-top: 10%;
    height: 600px;
    width: 100%;
    background: url('../images/hero_image.jpeg') no-repeat; 
    background-position: center;
}

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text p {
    color: #ffffff;
    text-align: center;
}

#cover-text {
    width: 350px;
    height: 100px;

    background-color: rgba(167, 167, 102, 0.7);

/* background-color: rgb(136, 136, 17, .7); */

    bottom: 150px;
    left: 100px;

    position: absolute;

    font-size: 130%;
    letter-spacing: 2px;
    font-family: Oswald;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10px; 

    text-align: center;
    /* word-wrap: normal; */

    border-radius: 75%; 
    border-style:double;

}

/* brief intro with the paragraph */

.brief-intro {
    /* background-color: rgb(200, 229, 240); */
    background-color: #d6f3e0;
    text-align: center;
    font-family: Oswald, sans-serif;
    font-size: 200%;
    height: 280px;
}

.brief-intro p {
    color: red;
    text-align: center;
    padding: 2.5%;
}




/* About Us Page */

#aboutus-image {
    padding-top: 10%;
    height: 600px;
    width: 100%;
    background: url('../images/aboutus.jpeg') no-repeat; 
    background-position: center;
    background-size: cover;
}

#aboutus {
        height: 600px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

#our-offer > h2 {
    text-align: center;
    margin: 5px;
    font-size: 2.5em;
}

#our-offer > p {
    text-align: center;
    /* margin: 20px; */
    font-size: 1.5em;
    font-family: serif;
}

#our-offer {
    height: 300px;
    background-color: #d6f3e0;
    padding: 2% 
} 

#offer {
    float: left;
    padding-top: 20px;
    width: 35%;
    margin-left: 10%;
    line-height: 25px; 
}

#offer .offering {
    padding-top: 10px;
    font-family: serif;
}

/* #offer p{
    text-align: justify;
    padding: 5%;
    text-decoration: underline overline wavy #f16c6b;
    font-family: serif;
    font-size: 1em;
}  */

#schedule {
    float:right;
    padding-top: 20px;
    margin-right: 25%;
    line-height: 25px;
}

.table {
    padding-top: 10px;
    font-family: serif;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #0d2b17;
    text-align: left;
    padding: 2px;
}

#our-offer h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-decoration-color: #0d2b17;
    text-decoration-style: solid;
    /* font-size: 1.5em; */
    /* font-weight: bold; */
}





/* Sign up page */

.form-section {
    clear: left;
    background: url('../images/signup.jpeg') no-repeat center center;
    width: 100%;
    height: 900px;
    background-size: contain;
}

.signup-form {
    margin: 150px 0 0 0; 
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 200px;
    position: absolute;
    right: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: rgb(3, 3, 31);
    margin-bottom: 20px;
}

.text-input {
    /* background: transparent; */
    color: rgb(3, 3, 31);
    width: 100%;
    height: 25px;
    margin: 5px 10px 5px 0;
    
}

.text-input:hover {
    border-color: #f16c6b;
}

.submit {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: green;
    color: #fafafa;
    display: block;
}

.submit:hover {
    background-color: #fafafa;
    color: green;
    font-size: 100%;
}







/* Footer */

footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li {
    display: inline;
} 

.social-networks i{
    font-size: 100%;
    margin: 5%; 
    padding: 0.5%; 
}

.fa-facebook {
    background-color: #3B5998;
    color: white;
}

.fa-twitter-square {
    background-color: #55ACEE;
    color: white;
}

.fa-youtube-square {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}





/* Media queries */
/* For Mobile devices on Home Page*/
@media screen and (min-width: 390px) and (max-width:480px) {
    
    #menu li {
        margin-left: 15px;
        
    }


    #cover-text {
        left: 10px;
        padding-top: 12%;
        font-size: 95%;
    }  

    .brief-intro {
        font-size: 150%;
    }


    /* For Mobile devices on About us Page*/

    #our-offer > h2 {
        text-align: center;
        margin: 5px;
        font-size: 120%;
    }

    #our-offer > p {
        font-size: 80%; 
        padding-top: 2%;
     }

    #offer {
        margin-left: 30%;
    }

    #schedule {
        margin-right: 30px;
    }

    #our-offer {
        background-color: #d6f3e0 ;
        height: 800px;
    }




    /* #our-offer > h2 {
        text-align: center;
        margin: 5px;
        font-size: 150%;
    }

    #our-offer {
        height:800px;
    }

    #our-offer > p {
       font-size: 120%; 
       padding-top: 10%;
    }

    #offer {
        margin-left: 30%;
    }

    #schedule {
        margin-right: 30%;
    }

    #offer .offering {
        width: 100%;
    }
 */

    /* For Mobile devices on Sign Up Page*/

    .form-section {
        background-size: cover;
    }

    .signup-form {
        margin: 500px 0 0 0;
        right: 5%;
    }

}

/* For ipads and tablets */

@media screen and (max-width: 768px) {
    
  

    #cover-text {
        width: 350px;
        height: 70px;
        padding: 5%;
        /* position: relative; */
    }

    .brief-intro {
        height:250px;
        font-size: 180%; 
    }

    .brief-intro p {
        text-align: center;
        /* padding: 5%;  */
    }

    #our-offer {
        height: 400px;
        background-color: #d6f3e0;
    }

    #our-offer > h2 {
        font-size: 2em;
    }
    #schedule { 
        /* float:right; */
        margin-right: 5%;
    }

    .signup-form {
        bottom: 200px;
        position: absolute;
        right: 5px;
        padding: 10px;
        bottom: 600px;
    }

    .form-section {
        background-size: cover;
    }

    

}


/* For larger screen  */
@media screen and (max-width: 1500px) {
    
    
    .center {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #schedule {
        margin-right: 15%;
    }
}

