@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    color: #0d2b17;
}

#logo {
    float: left;
    font-size: 200%;
}


/* navigation links */
#menu {
    font-size: 100%;
}

#menu, #logo {
    line-height: 75px;
}  

#menu li {
    float: right;  
    list-style-type: none; 
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Main image and cover text */

#main-image {
    padding-top: 10%;
    height: 600px;
    width: 100%;
    background: url('../images/main_image.jpeg') no-repeat; 
    background-position: center;
}

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text p {
    color: #ffffff;
    text-align: center;
}

#cover-text {
    width: 350px;
    height: 100px;

    background-color: rgb(136, 136, 17, .7);

    bottom: 150px;
    left: 150px;

    position: absolute;

    font-size: 130%;
    letter-spacing: 2px;
    font-family: Oswald;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10px; 

    text-align: center;
    /* word-wrap: normal; */

    border-radius: 75%; 
    border-style:double;

}

/* Media queries */

@media screen and (max-width: 1800px) {
    #main-outer {
        float: center;
    }
    .center {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
} 



.introduction {
    background-color: lightblue;
    text-align: center;
    font-family: Oswald, sans-serif;
    font-size: 200%;
    height: 300px;
}

.introduction p {
    color: red;
    text-align: center;
    padding: 5%;
}

/* Footer */

footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
} 

.social-networks i{
    font-size: 160%;
    margin: 5%;
    padding: 0.5%;
}

.fa-facebook {
    background-color: #3B5998;
    color: white;
}

.fa-twitter-square {
    background-color: #55ACEE;
    color: white;
}

.fa-youtube-square {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}